


.container{
    margin-top: 20px;

    .title{
        display: flex;
        align-items: center;
        font-size: 20px;
        min-height: 70px;
        font-weight: 500;
        padding: 20px 0;
        border-bottom: 2px solid var(--black);
        border-top: 2px solid var(--black);
    }

    .list{
        margin-top: 20px;
        font-size: 17px;
        display: flex;
        flex-direction: column;
        gap: 17px;
    }

}