


.container{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;

    .dropDown{
        display: flex;
        flex-direction: column;
        gap: 4px;
        width: 260px;

        .sign{
            color: #1d1d1d;
            font-size: 15px;
        }
    }

    .toggle{
        display: flex;
        align-items: center;
    }
}